//Primary&secondary colors
$primary-color:#0D47A1;
$secondary-color:#eeeeee;
$primary-title-color:green;
$secondary-title-color:yellow;

//Material
$material-yellow:#FFEB3B;
$material-blue:#2196F3;
$material-green:#2E7D32;
$material-gray:#616161;


$gray: #f2f2f2;
$grayDark: darken($gray, 5%);

//Hexis theme-color
$hexis-red:#e0212e;
